[submodule "externals/rtmidi"]
	path = externals/rtmidi
	url = https://github.com/thestk/rtmidi.git
#[submodule "externals/link"]
#	path = externals/link
#	url = https://github.com/Ableton/link.git
#[submodule "rtaudio"]
#	path = externals/rtaudio
#	url = https://github.com/thestk/rtaudio.git
