name: Release Build

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]
    types: [closed]

jobs:
  release_ubuntu:
    name: line Ubuntu release
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Checkout submodules
    run: git submodule update --init --recursive

    - name: Install dependencies
      run: sudo apt-get install jack

    - name: Create Build Directory
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DRTMIDI_API_JACK=ON -DRTMIDI_BUILD_TESTING=OFF -DRTMIDI_BUILD_SHARED_LIBS=OFF

    - name: Build
      run: cmake --build ./build --config Release

    - name: Create Artifact
      run: |
        mkdir release
        cp build/line release/line
    
    - name: Publish Linux Artifact
      uses: actions/upload-artifact@v2
      with:
        name: line Linux release
        path: release